/* Language toggle */
.lang-en {
  display: none;
}

div.faq-answer {
  margin-bottom: 2rem;
}

/* Increase baseline font size by 2px */
body {
  font-size: 18px;
}

p, li, td, dd {
  font-size: 18px;
}

dd p:empty {
  display: none;
}

.billboard {
  height: 360px;
}

@media (min-width: 767px) {
  .billboard {
    height: 480px;
  }
}
